<!--
Cria a array attributes e randomiza os valores de cada atributo dentro dela
-->
<%
 let attribute_value = {}
 let attributes = [
    'INT',
    'REF',
    'DEX',
    'TECH',
    'COOL',
    'WILL',
    'LUCK',
    'MOVE',
    'BODY',
    'EMP'
]
attributes.forEach(attribute => {
    attribute_value[attribute] = Math.floor(Math.random() * (5   - 1) + 2)
});
%>

<!--
Renderiza todos os atributos com seus respectivos valores    
-->
<div class="attributes">
    <% attributes.forEach(function(attribute) { %>
    <span><%= attribute%>: <%= attribute_value[attribute]; %></span>
    <% }) %>
</div>

<!--
Calcula os Hit Points
-->
<% 
console.log(attribute_value)
let will = attribute_value.WILL
let body = attribute_value.BODY

let TotalHitPoints = Math.ceil(10 + (5 * Math.round((will+body) / 2)))
console.log(TotalHitPoints)
%>  

<!--
Calcula o Seriously Wounded e definindo Death Save
-->

<% 
let SeriouslyWounded = Math.round(TotalHitPoints / 2)
%>

<div class="health">
    <span>Hit Points: <%= TotalHitPoints %></span>
    <span>Seriously Wounded: <%= SeriouslyWounded %></span>
    <span>Death Save: <%= body %></span>
</div>