<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./elements/head'); %>
</head>
<body class="container" style="background-color: black;">

<header>
  <%- include('./elements/header'); %>
</header>



<% 
    let dog = 32;
    dog = dog * 2;
%> 

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <span id="<%= "cachorro" %>"><%= dog; %></span> 
    <div class="cards-container">
      <%- include('./elements/card'); %>
    </div>
  </div>
</main>

<footer>
  <%- include('./elements/footer'); %>
</footer>

</body>
</html>